.sidebar-table.table > :not(caption) > * > * {
  padding: 0.5rem;
  border: 0;
}
.table {
  table-layout: fixed;
  width: 100%;
}

.sidebar-table.table th,
td {
  font-size: 14px;
}

.table-in-tab th,
td {
  border-width: 1px;
}

.wrapper {
  position: relative;
  display: flex;
}
#video-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #000000;
  opacity: 0.7;

  z-index: 9999999;
}

#video {
  max-width: 100%;
}
#video-overlay svg {
  max-width: 100%;
}
#video-overlay:hover {
  cursor: pointer;
}
#video-overlay:hover path {
  opacity: 1;
}

/* Project Timeline */

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline p {
  font-size: 14px;
  background-color: #fcf3ea;
  padding: 12px;
  margin-bottom: 0;
}
ul.timeline:before {
  content: " ";
  display: inline-block;
  position: absolute;
  right: 29px;
  bottom: 10%;
  top: 6%;
  width: 2px;
  z-index: 400;
  border-right: 2px dashed #e0af7e;
  border-width: 2px;
  margin-top: 35px;
}
ul.timeline > li {
  margin: 20px 0;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
ul.timeline > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #e0af7e;
  right: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
.timeline-date {
  color: #e0af7e;
}

.card {
  max-width: 100%;
}
.card-body {
  padding-top: 0;
}
